<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name=" First.Interfaces.TcpReceiver" behaviorConfiguration="behaviorconfig">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:667/"/>
            <add baseAddress="http://localhost:668/"/>
          </baseAddresses>
        </host>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="tcpReceiver" binding="netTcpBinding"
                  contract=" First.Interfaces.IReceiver" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorconfig">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>