<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="First.BlackBox.Blackbox" behaviorConfiguration="behaviorconfig">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:671/"/>
            <add baseAddress="http://localhost:672/"/>
          </baseAddresses>
        </host>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="blackbox" binding="netTcpBinding"
                  contract="First_Interfaces.ServiceInterfaces.IBlackbox" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorconfig">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="net.tcp://localhost:669/tcpEmitter"
          binding="netTcpBinding"
          contract="First_Interfaces.ServiceInterfaces.IEmitter"
          name="tcpEmitter" />
    </client>

  </system.serviceModel>
</configuration>