<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Blackbox.Properties.Settings.MIBConnectionString"
      connectionString="Data Source=xrelishx\relish_one;Initial Catalog=MIB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Blackbox.Blackbox" behaviorConfiguration="behaviorconfig">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:671/"/>
            <add baseAddress="http://localhost:672/"/>
          </baseAddresses>
        </host>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="blackbox" binding="netTcpBinding"
                  contract="Interfaces.Services.IBlackbox" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorconfig">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="net.tcp://localhost:669/tcpEmitter"
          binding="netTcpBinding"
          contract="Interfaces.Services.IEmitter"
          name="tcpEmitter" />
    </client>

  </system.serviceModel>
</configuration>