<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TransactionTest1.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=XRELISHX\RELISH_ONE;Initial Catalog=TestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>